@tailwind base;
@tailwind components;
@tailwind utilities;

h1, h2, h3 {
  margin: 8px 0;
  font-weight: bold;
}

h1 {
  font-size: x-large;
}

h2 {
  font-size: larger;
}

h3 {
  font-size: large;
}

.max-w-screen-md {
  max-width: 550px;
}
body { @apply !min-w-full; }

.markdown > * > a {
  color: #0842A1;
  text-decoration: underline;
}

@layer base {
  :root {
    --background: #F5F5F5;
    --foreground: #2B2B2B;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 0 0% 92%;
    --primary-foreground: 0 0% 17%;

    --secondary: 127 32% 90%;
    --secondary-foreground: 123 94% 34%;

    --muted: 60 0% 92%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;

		/* THEME COLORS */
		/* https://www.tints.dev/?purplelow=A0A1B6&purplehigh=42436E&teallow=82A1A6&tealhigh=82A1A6&greenlow=8BB99F&greenhigh=8BB99F&roselow=AD96A2&rosehigh=5C2E45&goldlow=B2A694&goldhigh=B2A694
			1) set low to 400 (generates 50-700)
			2) set high to 900 (generates 800-950)
			3) toggle luminance on
			4) copy values from tailwindcss version 4
			5) paste here and manually adjust the the two schemas
			6) convert the color to rgb channels
		*/
		--color-purple-50: 246 246 248;
		--color-purple-100: 235 235 239;
		--color-purple-200: 215 215 224;
		--color-purple-300: 189 189 204;
		--color-purple-400: 92 93 153;
		--color-purple-500: 145 147 171;
		--color-purple-600: 131 132 160;
		--color-purple-700: 114 115 146;
		--color-purple-800: 108 109 167;
		--color-purple-900: 66 67 110;
		--color-purple-950: 46 46 77;
		--color-teal-50: 243 246 247;
		--color-teal-100: 231 237 238;
		--color-teal-200: 201 215 217;
		--color-teal-300: 172 192 196;
		--color-teal-400: 130 161 166;
		--color-teal-500: 112 148 153;
		--color-teal-600: 100 135 140;
		--color-teal-700: 87 117 122;
		--color-teal-800: 148 175 179;
		--color-teal-900: 130 161 166;
		--color-teal-950: 87 117 122;
		--color-green-50: 245 249 247;
		--color-green-100: 230 240 234;
		--color-green-200: 204 224 213;
		--color-green-300: 176 207 189;
		--color-green-400: 139 185 159;
		--color-green-500: 121 174 144;
		--color-green-600: 94 156 121;
		--color-green-700: 83 137 106;
		--color-green-800: 156 195 173;
		--color-green-900: 139 185 159;
		--color-green-950: 83 137 106;
		--color-rose-50: 248 246 247;
		--color-rose-100: 239 235 237;
		--color-rose-200: 221 212 217;
		--color-rose-300: 199 183 192;
		--color-rose-400: 173 150 162;
		--color-rose-500: 163 138 151;
		--color-rose-600: 150 120 136;
		--color-rose-700: 137 107 123;
		--color-rose-800: 163 82 122;
		--color-rose-900: 92 46 69;
		--color-rose-950: 58 29 43;
		--color-gold-50: 246 245 243;
		--color-gold-100: 240 238 234;
		--color-gold-200: 221 216 208;
		--color-gold-300: 202 193 181;
		--color-gold-400: 178 166 148;
		--color-gold-500: 165 151 130;

		--theme-50: 255 255 255;
		--theme-100: 255 255 255;
		--theme-200: 255 255 255;
		--theme-300: 255 255 255;
		--theme-400: 255 255 255;
		--theme-500: 255 255 255;
		--theme-600: 255 255 255;
		--theme-700: 255 255 255;
		--theme-800: 255 255 255;
		--theme-900: 255 255 255;
		--theme-950: 255 255 255;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}
