@tailwind base;
@tailwind components;
@tailwind utilities;

h1, h2, h3 {
  margin: 8px 0;
  font-weight: bold;
}

h1 {
  font-size: x-large;
}

h2 {
  font-size: larger;
}

h3 {
  font-size: large;
}

.max-w-screen-md {
  max-width: 550px;
}
body { @apply !min-w-full; }

@layer base {
  :root {
    --background: 0 0% 96%;
    --foreground: 0 0% 17%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 0 0% 92%;
    --primary-foreground: 0 0% 17%;

    --secondary: 127 32% 90%;
    --secondary-foreground: 123 94% 34%;

    --muted: 60 0% 92%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 0%;
    --foreground: 210 40% 98%;

    --card: 0 0% 15%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 0 0% 19%;
    --primary-foreground: 210 40% 98%;

    --secondary: 123 95% 9%;
    --secondary-foreground: 123 94% 34%;

    --muted: 240 0% 9%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}