/* FONT IMPORT */
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');






/* UTILITIES */
.icon-grey{
  filter: invert(66%) sepia(0%) saturate(0%) hue-rotate(239deg) brightness(87%) contrast(93%);
}

.icon-white{
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(103%) contrast(103%);
}

.bottom-nav-container{
  padding: 0.5rem 2rem;
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: #1c1c1c;
  width: 100%;
  z-index: 20;
}

.bottom-nav{
  display: flex;
  justify-content: space-between;
}

.bottom-nav{
  padding: 0;
  list-style-type: none;
}

.bottom-nav img{
  width: 24px;
  height: 24px;
}

.gradient-overlay-nav{
  position: absolute;
  background: rgb(28,28,28);
  background: linear-gradient(0deg, rgba(28,28,28,1) 0%, rgba(28,28,28,0) 100%);
  width: 100%;
  height: 2rem;
  left: 0px;
  bottom:4rem;
  z-index: 100;
}

.primary-button{
  background-color: #7DFA86;
  color:#000;
  border: none;
  padding: 0.875rem;
  border-radius: 0.5rem;
  width: 100%;
  font-size: 0.875rem;
  font-weight: 400;
}

.follow-button{
  padding: 0.25rem 1rem;
  background-color: transparent;
  border: 1px solid #e6e6e6;
  border-radius: 0.5rem;
  font-size: 0.875rem;
  color: #e6e6e6;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  height: 40px;
}


/* TOPHEADER STYLING */
.top-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1rem;
}

.icon-container{
  display: flex;
  gap: 1rem;
}



/* TAB STYLING */
.tabs-wrapper{
  position: relative;
}

.tabs-container{
  overflow-x:hidden;

  
}

.tabs-container ul{
  display: flex;
  gap: 0.5rem;
  list-style-type: none;
  padding: 0;
  width: 300vw;

}

.tabs-container ul li{
  padding: 0.5rem 0.75rem;
  color: #979797;
}

#tab-active{
  background-color: #7DFA86;
  color: #000;
  border-radius: 0.5rem;
}

.gradient-overlay{
  position: absolute;
  background: rgb(26,26,26);
  background: linear-gradient(-90deg, rgba(26,26,26,1) 0%, rgba(26,26,26,0) 100%);
  width: 64px;
  height: 34px;
  right: 0px;
  top:1rem;
  z-index: 100;
}


/* FEED STYLING */

.feed-view{
  margin-bottom: 5rem;
}

.desktop-search-container{
  display: none;
}

.container{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  max-width: 640px;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem;
}

.desktop-sidebar-container{
    display: none;
}



.desktop-notification-container{
  display: none;
}




/* CARD STYLING */



.card-container{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.card{
  padding:1rem;
  background-color: #2a2a2a;
  border-radius: 0.5rem;
}

.tag-metadata-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tag-container{
  display: flex;
  gap: 0.5rem;
}

.tag{
  font-size: 0.75rem;
  text-transform: uppercase;
  margin-bottom: 0.25rem;
  font-family: 'Source Code Pro', monospace;
}

.card-metadata{
  display: flex;
  gap: 0.5rem;
  font-size: 0.75rem;
  text-transform: uppercase;
  color: #979797;
  font-family: 'Source Code Pro', monospace;
}

.summary-container h2{
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.75rem;
}

.questions-container{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}


.generated-question{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
  padding: 1rem;
  background-color: #3c3c3c;
  border-radius: 0.5rem;
  /* border: 1px solid #4e4e4e; */
}

.generated-question p{
  margin: 0;
  line-height: 1.5rem ;
  font-size: 1rem;
}

.generated-question img{
  width: 1rem;
  height: 1rem;
}

.question-input{
position:relative;
  width: 100%;
  background-color: #2a2a2a;
  border: 1px solid #4e4e4e;
  border-radius: 0.5rem;
  color: #e6e6e6;
  font-family: Helvetica, sans-serif;
}

.question-input input{
  padding: 1rem;
  width:87%;
  border: none;
  background-color: transparent;
  font-size: 0.875rem;
  
}

.send-icon{
position: absolute;
right:16px;
bottom:16px;
}

.reactions-container{
  display: flex;
  gap: 0.5rem;
  border-top: 1px solid #454545;
  margin-top: 1rem;
  padding-top: 1rem;
}

.reactions{
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.375rem 0.75rem;
  border: 1px solid #e6e6e6;
  border-radius: 0.5rem;
  font-size: 0.875rem;

}

/* HUB STYLING */

.top-bar-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.top-bar-container img{
  width: 24px;
  height: 24px;
}

.back-container{
  display: flex;
  align-items: center;
  gap:0.5rem;
  font-size: 1rem;
}

.icon-container{
  display: flex;
  align-items: center;
  gap: 1rem;
}

.top-container{
  padding-bottom: 2rem;
  border-bottom: 1px solid #3c3c3c;
  margin-bottom: 1rem;
}
.hub-summary h1{
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 2rem;
  margin-top: 0.5rem;
  margin-bottom: 1.5rem;

}



.article-metadata-container{
  padding: 1rem;
  background-color: #2f2f2f;
  border-radius: 0.5rem;
  font-size: 1rem;
  line-height: 1.5rem;
}

.article-metadata-container h2{
  margin: 0;
  margin-bottom: 1rem;
  font-weight: 400;
  font-size: 1rem;
  
}

.article-metadata-journal{
  color: #979797;
}

.article-authors-container{
  padding: 1rem;
  background-color: #2f2f2f;
  border-radius: 0.5rem;
  font-size: 1rem;
  line-height: 1.5rem;
}

.article-authors-container ul{
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 0;
  list-style: none;
}

.article-authors-container li{
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.author-avatar{
  width: 48px;
  height:48px;
}

/* CHAT STYLING */
.chat-container{
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-bottom: 2rem;
}

.chat-reply{
  display: grid;
  flex-direction: column;
  gap: 0.5rem;

}

.chat-reply img{
  width:32px;
  height:32px;
}

.chat-reply p{
  padding: 0.75rem;
  background-color: #454545;
  margin: 0;
  line-height: 1.4rem;
  
}

.chat-answer p{
  border-radius: 1rem 1rem 1rem 0.01rem;
  max-width: 500px;
}

.chat-question p{
  border-radius: 1rem 1rem 0.1rem 1rem;
  max-width: 500px;
  justify-self: flex-end;
  background-color: #7DFA86;
  color: #000;
}

.chat-sender{
  display: flex;
  align-items: center;
  gap: 0.5rem;
  
  font-size: 0.875rem;
  color: #979797;
}

.you{
  justify-self: flex-end;
}






@media only screen and (min-width: 640px) {
  .bottom-nav-container{
    display: none;
  }

  .top-bar-container{
    margin-bottom: 2rem;
  }

  .desktop-search-container{
    display: flex;
    background-color: #2a2a2a;
    border-radius: 8px;
  }

  .desktop-search-container input{
    padding: 1rem 1rem 1rem 0.5rem;
    width:100%;
    border: none;
    background-color: transparent;
    font-size: 1rem;
  }

  .search-icon-container{
    padding: 1rem 0.5rem 1rem 1rem;
  }

  .desktop-search-container img{
 
    width: 20px;
    height: 20px;
  }

  .top-header{
    display: none;
  }


  .desktop-sidebar-container{
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    padding: 2rem;
    background-color: #2a2a2a;
    width: 280px;
    height: 100vh;
    border-radius: 0 0.5rem 0.5rem 0;
    z-index: 10;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 5px 15px 0px;
    transition: all ease 0.3s;
  }

  .sidebar-nav-container{
    display: flex;
    flex-direction: column;
    gap: 3rem;
    margin-top: 4rem;
  }


  .sidebar-nav-group h3{
    font-size: 1rem;
    font-weight: 600;
  }

  .sidebar-nav-group ul{
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
  }

  .upgrade-callout{
    display: flex;
    align-items: flex-start;
    gap: 0.5rem;
    padding: 1rem;
    background-color: #454545;
    border-radius: 0.5rem;
  }

  .upgrade-callout p{
    margin: 0;
    line-height: 1.5rem;
  }

  .upgrade-callout img{
    margin-top: 4px;
  }

  .desktop-notification-container{
    display: block;
    position: fixed;
    background-color: #1c1c1c;
    top: 0rem;
    right: 0rem;
    border-left: 1px solid #3c3c3c;
    width: 280px;
    height: 100vh;
    z-index: 10;
    transition: all ease 0.3s;
  }

  .notification-header{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    border-bottom: 1px solid #3c3c3c;
    padding: 2rem;
  }

  .notification-header h3{
    margin: 0;
    font-weight: 400;
    font-size: 1rem;
  }

  .notification-header img{
    width:20px;
    height: 20px;
  }

  .notification-container{
    display: flex;
    gap: 0.5rem;
    align-items: flex-start
  }

  .notification-container img{
    width: 32px;
    height: 32px;
  }

  .notification-container div p{
    margin: 0;
    font-size: 0.875rem;
  }

  .notification-wrapper{
    padding: 2rem 1rem 2rem 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .collapse-button{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: -1rem;
    top:50vh;
    width: 32px;
    height: 32px;
    border-radius: 100rem;
    border: none;
    background-color: #454545;
    cursor: pointer;
  }

  .notification-button{
    background-color: #1c1c1c;
    border: 1px solid #454545;
    left:-1rem;
  }

  


}
/* 
@media only screen and (max-width: 1220px) {

  

  .desktop-sidebar-container{
    transform: translateX(-250px);
  }

  .desktop-notification-container{
    transform: translateX(250px);
  }

  
} */

.collapse-left{
  transform: translateX(-250px);
  transition: 0.2s ease all;
}



.collapse-right{
  transform: translateX(250px);
  transition: 0.2s ease all;
}

.rotate{
  transform: rotate(180deg);
  transition: 0.2s ease all;
}

.open{
  transform: translateX(0px);
  transition: 0.2s ease all;
}