---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Announcement from '../components/Announcement.astro'
import Navbar from '../components/Navbar.astro'
import HeroSection from '../components/HeroSection.astro'
import Logostorm from '../components/Logostorm.astro';
import FullWidthImage from '../components/FullWidthImage.astro';
import Quote from '../components/Quote.astro';
import SignUpSection from '../components/SignUpSection.astro';
import Footer from '../components/Footer.astro';
import AnimationBG from '../components/AnimationBG.astro';
import FeaturesSection from '../components/FeaturesSection.astro';
import JobPosts from '../components/JobPosts.astro';
import BlogCallOut from '../components/BlogCallOut.astro';
import UpperSection from '../components/UpperSection.astro';


import { Image } from 'astro:assets';
import proemUI from '../assets/comps.png';
import proemUI2 from '../assets/comps.png';

---

<Layout title="Proemial | Redefining Research">
<Announcement title="Science Proems on the GPT Store - try it out" href="https://proem.ai/"></Announcement>
<Navbar></Navbar>
	<main>
		<!-- <EmailCaptureReact></EmailCaptureReact> -->
		<AnimationBG></AnimationBG>
		<UpperSection></UpperSection>
		<!-- <HeroSection></HeroSection>
		<Logostorm></Logostorm> -->
		<JobPosts></JobPosts>
		<!-- <BlogCallOut></BlogCallOut> -->
		<Quote></Quote>
		<FeaturesSection></FeaturesSection>
		<!-- <FullWidthImage src={proemUI.src}></FullWidthImage> -->
		<!-- <FullWidthImage src={proemUI2.src}></FullWidthImage> -->
		<SignUpSection headline="stay in touch"></SignUpSection>
	</main>
	<Footer></Footer>
</Layout>

<style>

</style>
