---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Announcement from '../components/Announcement.astro'
import Navbar from '../components/Navbar.astro'
import BlogHeader from '../components/BlogHeader.astro';
import Footer from '../components/Footer.astro';


---

<Layout title="Proemial | Redefining Research">
<Announcement title="We're hiring - Check our job postings here" href="https://wellfound.com/jobs/2874583-full-stack-developer?utm_campaign=startup_share&utm_content=startup_share_module&utm_medium=social&utm_term=proemial"></Announcement>
<Navbar></Navbar>
	<main>
    <BlogHeader title="Solving Society's Greatest Challenges"></BlogHeader>
	</main>
  <Footer></Footer>
</Layout>

<style>

</style>
