---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Announcement from '../components/Announcement.astro'
import Navbar from '../components/Navbar.astro'
import BlogHeader from '../components/BlogHeader.astro';
import Footer from '../components/Footer.astro';


---

<Layout title="Proemial | Redefining Research">
<Announcement title="We're hiring - Check our job postings here" href="test"></Announcement>
<Navbar></Navbar>
	<main>
    <BlogHeader title="manifesto 0.5"></BlogHeader>
	</main>
  <Footer></Footer>
</Layout>

<style>

</style>
