$color-primary-surface: #1a1a1a;
$color-secondary-surface: #313131;
$color-primary-brand: #7DFA86;
$color-secondary-brand: #933AD9;
$color-primary-text: #fff;
$color-secondary-text: #8c8c8c;
$color-inverted-text: #000;

$text-primary-font: "Helvetica", sans-serif;
$text-secondary-font: monospace;

$text-size-huge: 4rem;
$text-size-large: 3rem;
$text-size-medium: 2rem;
$text-size-medium-small: 1rem;
$text-size-small: 0.88rem;
$text-size-xtra-small:0.75rem;

$border-radius-standard: 0.5rem;
$border-color-standard: #414141;



