---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />

		<!-- Google Tag Manager -->
		<script>
			console.log("Google Tag Manager");
			(function (w: any, d: any, s: string, l: string, i: string) {
				w[l] = w[l] || [];
				w[l].push({ "gtm.start": new Date().getTime(), event: "gtm.js" });
				var f = d.getElementsByTagName(s)[0],
					j = d.createElement(s),
					dl = l != "dataLayer" ? "&l=" + l : "";
				j.async = true;
				j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
				f.parentNode.insertBefore(j, f);
			})(window, document, "script", "dataLayer", "GTM-TCS63KTV");
		</script>
		<!-- End Google Tag Manager -->

		<!-- HTML Meta Tags -->
		<title>proemial | read science, fast</title>
		<meta
			name="description"
			content="proemial is building an open platform that connects researchers to a larger and more diverse audience through personalized summaries of the latest research papers. The mission is to make it easy to read, discuss, understand and engage with recent discoveries, the researchers that produce them, and the companies that commercialize them."
		/>

		<!-- Facebook Meta Tags -->
		<meta property="og:url" content="https://proemial.ai/" />
		<meta property="og:type" content="website" />
		<meta property="og:title" content="proemial | read science, fast" />
		<meta
			property="og:description"
			content="Proemial is building an open platform that connects researchers to a larger and more diverse audience through personalized summaries of the latest research papers. The mission is to make it easy to read, discuss, understand and engage with recent discoveries, the researchers that produce them, and the companies that commercialize them."
		/>
		<meta property="og:image" content="https://proemial.ai/opengraph.png" />

		<!-- Twitter Meta Tags -->
		<meta name="twitter:card" content="summary_large_image" />
		<meta property="twitter:domain" content="proemial.ai" />
		<meta property="twitter:url" content="https://proemial.ai/" />
		<meta name="twitter:title" content="proemial | read science, fast" />
		<meta
			name="twitter:description"
			content="Proemial is building an open platform that connects researchers to a larger and more diverse audience through personalized summaries of the latest research papers. The mission is to make it easy to read, discuss, understand and engage with recent discoveries, the researchers that produce them, and the companies that commercialize them."
		/>
		<meta name="twitter:image" content="https://proemial.ai/opengraph.png" />
		<meta
			name="facebook-domain-verification"
			content="4wv4ejwsv7neqxx426so8972s0hk8v"
		/>
	</head>
	<body>
		<!-- Google Tag Manager (noscript) -->
		<noscript
			><iframe
				src="https://www.googletagmanager.com/ns.html?id=GTM-TCS63KTV"
				height="0"
				width="0"
				style="display:none;visibility:hidden"></iframe></noscript
		>
		<!-- End Google Tag Manager (noscript) -->
		<slot />
	</body>
</html>
<style lang="scss" is:global>
	@import "../variables/global.scss";

	:root {
		color-scheme: dark;
	}
	* {
		box-sizing: border-box;
	}

	html {
		font-family: system-ui, sans-serif;
		background: $color-primary-surface;
	}

	body {
		margin: 0px;
		padding: 0px;
		// 	background-image: url("../assets/aurora.png");
		// background-repeat: no-repeat;
		// background-size: contain;
	}
</style>
