---

---

<div class="gradient-bg">
  <div class="gradient-container">
    <div class="g1"></div>
    <div class="g2"></div>
    <!-- <div class="g3"></div>
    <div class="g4"></div> -->
    <!-- <div class="transbox"></div> -->
  </div>
  <div class="bottom-gradient"></div>
</div>

<style>
  .gradient-bg {
    width: 100%;
    height: 150vh;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    z-index: -10;
  }

  .gradient-container {
    filter: blur(15em);
  }
  .transbox {
    position: absolute;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(1em);
  }
  svg {
    display: none;
  }

  .gradient-container {
    width: 100%;
    height: 100%;
  }

  .g1 {
    position: absolute;
    border-radius: 1000rem;
    width: 560px;
    height: 560px;
    background-color: #7dfa86;

    /* background: radial-gradient(circle at center, rgba(125,250,134,0.8) 0, rgba(26,26,26,0) 50%) no-repeat; */

    mix-blend-mode: hard-light;
    left: calc(50% - 560px / 2);
    top: calc(50% - 560px / 2);
    animation: moveAnimationOne 28s reverse infinite;

    /* opacity: 0.5; */
  }

  .g2 {
    position: absolute;
    border-radius: 1000rem;
    width: 400px;
    height: 400px;
    background-color: #933ad9;
    mix-blend-mode: hard-light;
    left: calc(80% - 400px / 2);
    top: calc(10% - 400px / 2);
    animation: moveAnimationTwo 13s reverse infinite;
    /* opacity: 0.5; */
  }

  .g3 {
    position: absolute;
    border-radius: 1000rem;
    width: 700px;
    height: 700px;
    background-color: #787777;
    mix-blend-mode: hard-light;
    left: calc(10% - 700px / 2);
    top: calc(80% - 700px / 2);
    /* opacity: 0.5; */
  }

  .g4 {
    position: absolute;
    border-radius: 1000rem;
    width: 400px;
    height: 400px;
    background-color: #214324;
    mix-blend-mode: hard-light;
    left: calc(30% - 400px / 2);
    top: calc(60% - 400px / 2);
    /* opacity: 0.5; */
  }

  .bottom-gradient {
    width: 100vw;
    height: 60vh;
    background: rgb(26, 26, 26);
    background: linear-gradient(
      0deg,
      rgba(26, 26, 26, 1) 0%,
      rgba(26, 26, 26, 0) 100%
    );
    position: absolute;
    bottom: 0;
  }

  @keyframes moveAnimationOne {
    0% {
      transform: translateX(-50%);
    }

    50% {
      transform: translateX(50%);
    }

    100% {
      transform: translateX(-50%);
    }
  }

  @keyframes moveAnimationTwo {
    0% {
      transform: translateY(-50%) scale(100%);
    }

    50% {
      transform: translateY(50%) scale(130%);
    }

    100% {
      transform: translateY(-50%) scale(100%);
    }
  }
</style>
