---
interface Props {
	title: string;
	href: string;
}

const { href, title } = Astro.props;
---

<div>
  <a target="_blank" href={ href }>
    <p>{ title }</p>
  </a>
</div>
<style lang="scss">
	@import "../variables/global.scss";

  div{
    background-color: $color-primary-brand;
    padding: 8px;
    text-align:center;
    position: relative;
    z-index: 300;
  }

  p{
    font-size: $text-size-xtra-small;
    margin:0px;
  }

  a{
    color: $color-inverted-text;
    text-decoration: none
  }
</style>
