---
// TODO: Replace with cookie
let status = undefined;
// let title = "Sign up for our Newsletter"
let title = "Join Waitlist"

if (Astro.request.method === "POST") {
    try {
        const data = await Astro.request.formData();
        // const name = data.get("name");
        const email = data.get("email");

        const result = await fetch(
            "https://script.google.com/macros/s/AKfycbzudweoL5CeKI9DlbZfAC-O-BLUWhHZTnxFgNbLfITjlv0gs7r3W-E1Fp0gXS8YWly8cw/exec",
            {
                method: "POST",
                headers: { "Content-Type": "application/json" },
                body: JSON.stringify({ email }),
            },
        );

        if(result.status === 200){
            status = "You are on the waitlist!";
            title = "Thank you for joining!"
            // Astro.cookies.set(
            //     "status",
            //     "waitlist"
            // );
        } else {
            console.error("Error: ", result.status);
        }
    } catch (error) {
        if (error instanceof Error) {
            console.error(error.message);
        }
    }

}


---
{status && <div>{status}</div>}

{!status &&
<form id="waitlist-form" method="POST">

    <input type="email" placeholder="Your email here" name="email" id="email" required>
    <button id="submit-button">{title}</button>
</form>
}

<style lang="scss">
	@import "../variables/global.scss";

  form{
  display: flex;
  margin-top: 64px;
  width: fit-content;

}

input{
  width: 230px;
  border-radius: 12px 0px 0px 12px;
  border: none;
  padding: 16px;
  font-size: $text-size-small;
  background-color:#fff;
  color: $color-inverted-text;
}

button{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  font-size: $text-size-small;
  padding: 16px;
  border: none;
  border-radius:0px 12px 12px 0px;
  background-color: $color-primary-brand;
  color: $color-inverted-text;
}

@media only screen and (max-width: 900px) {
    input{
        width: 180px;
        border-radius: 8px 0px 0px 8px;
        border: none;
        padding: 8px;
        font-size: $text-size-small;
        background-color:#fff;
        color: $color-inverted-text;
    }
    button{
        border-radius:0px 8px 8px 0px;
        padding: 8px;
    }
}
</style>
