---
import features1 from '../assets/feature-ask.png';
import features2 from '../assets/feature-read.png';
import features3 from '../assets/feature-feed.png';

---

<section class="features-container">
  <div class="even">
    <div class="headline-container">
      <span>01</span>
      <h2>Answers</h2>
      <h3>Get short and concise answers to any question, backed by scientific research</h3>
    </div>
    <div class="asset-container">
      <img class="asset" src={features1.src}>
    </div>
  </div>

  <div class="odd">
    <div class="asset-container-odd">
      <img class="asset" src={features2.src}>
    </div>
    <div class="headline-container">
      <h2>Understand</h2>
      <h3>See previous questions from other users and interrogate the paper</h3>
    </div>
  </div>

  <div class="even">
    <div class="headline-container">
      <h2>Discover</h2>
      <h3>Follow the latest research, authors, and concepts that interest you, as personalized AI summaries</h3>
    </div>
    <div class="asset-container">
      <img class="asset" src={features3.src}>
    </div>
  </div>

</section>
<style lang="scss">
	@import "../variables/global.scss";

  section{
    max-width:1000px;
    margin-left: auto;
    margin-right:auto;
    margin-top:164px;
    padding: 24px;
  }



  h2{
    font-size: 64px;
    font-weight: 300;
    margin: 0 0 20px 0;
    max-width: 100%;
    font-weight: 600;
  }
  h3{
    font-size: 42px;
    font-weight: 300;
    margin: 0;
    max-width: 100%;
  }

  span{
    display: none;
    // padding: 6px 12px;
    // font-size: 14px;
    // border: 1px solid #fff;
    // text-align: center;
    // border-radius: 8px;
    // display: inline-block;
    // margin-bottom: 16px;
  }

  .even{
    display: flex;
    grid-template-columns: 1fr 1fr;
    gap: 36px;
    justify-content: space-between;
    align-items: center;
    text-align: right;
  }
  
  .odd{
    display: flex;
    grid-template-columns: 1fr 1fr;
    gap: 36px;
    justify-content: space-between;
    align-items: center;
    margin-top: -100px;
  }

  .asset-container{
    justify-self: flex-end;
  }

  .asset-container-odd{
    justify-self: flex-start;
  }

  .asset{
    max-width: 375px;
    justify-self: flex-end;
  }

  @media only screen and (max-width: 900px) {
    .even{
    display: grid;
    grid-template-columns: 1fr;
    gap: 32px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 64px;
    text-align: center;
  }
  
  .odd{
    display: flex;
    gap: 32px;
    margin-top: 0px;
    margin-bottom: 64px;
    flex-direction: column-reverse;
    text-align: center;
  }

  .asset-container, .asset-container-odd{
    display: grid;
    justify-self: center;
  }

  .asset{
    // width: 280px;
    max-width: 75%;
    justify-self: center;
  }

  h2{
    font-size: 48px;
    margin: 0 0 15px 0;
  }
  h3{
    font-size: 40px;
  }

}
@media only screen and (max-width: 750px) {
  .asset{
    width: 280px;
    // max-width: 75%;
    justify-self: center;
  }
  h2{
    font-size: 36px;
    margin: 0 0 10px 0;
  }
  h3{
    font-size: 24px;
  }
}
</style>
