---
import { Image } from 'astro:assets';
import proemUI from '../assets/interface-asset.png';

interface Props {
	src: string;
}

const { src } = Astro.props;

---

<section>
  <img src={src}>
</section>

<style lang="scss">
	@import "../variables/global.scss";

  section{
    color: $color-primary-text;
    max-width:1200px;
    margin-left: auto;
    margin-right:auto;
    padding: 24px;
  }

  img{
    max-width: 100%;
  }
</style>
