---
import { Image } from "astro:assets";
import iphone from "../assets/feed2.png";
import EmailCapture from "./EmailCapture.astro";
// import TextAnimation from './TextAnimation.astro';
import TextAnimationIteration from "./TextAnimationIteration.astro";
---

<section>
	<div class="hero-container">
    <!-- The video -->
    <!-- <img class="asset" src="/opengraph.png"> -->
	<div class="hero-container">
		<div id="videocontainermobileid">
			<video autoplay loop muted playsinline id="myVideo1" style="pointer-events: none;" src="/20240425_Colour_Black_16_9_Vertical_Full-x264.mp4" type="video/mp4" controls playsinline />
			</video>
		</div>
		<div id="videocontainerid">
			<video autoplay loop muted playsinline id="myVideo2" style="pointer-events: none;" src="/20240425_Colour_Black_16_9_Horizontal_Full-x264.mp4" type="video/mp4" />
			</video>
		</div>
		<div id="videooverlayid">
			<h1>Answers to<br>Questions that Matter</h1>
			<p>Backed by Scientific Research</p>
			<form action="https://proem.ai">
					<button id="myBtn" type="submit">Try The Proem beta Now</button>
			</form>
		</div>
	</div>
</section>

<style lang="scss">
	@import "../variables/global.scss";

	section {
		position: relative;
		z-index: 10;
	}

	.hero-container {
		//display: flex;
		//flex-direction: column;
		//align-items: center;
		//max-width: 1200px;
		width: 100vw;
		// min-height: 100vh;
		margin-left: auto;
		margin-right: auto;
		//margin-top: 94px;
		//gap: 48px;
		//padding: 0px 24px;
		text-shadow: 0px 0px 20px rgb(0,0,0,.5);
	}

	.asset {
		// max-width: 100%
		// max-height: 800px;
	}

	h1 {
		margin: 0px;
		padding: 0px;
		color: #fff;
		font-size: 72px;
		line-height: 60px;
		font-weight: 600;
		// text-align: center;
		max-width: 900px;
	}

	p {
		margin-top: 10px;
		margin-bottom: 50px;
		color: #fff;
		//max-width: 550px;
		line-height: 28px;
		font-size: 24px;
		font-weight: 300;
	}

	mark {
		background-color: rgba(49, 49, 49, 0.4);
		border-radius: $border-radius-standard;
		color: $color-primary-text;
		padding: 8px;
	}

	#myVideo1, #myVideo2 {
		controls: false;
		// display: none;
	}
	video::-webkit-media-controls, video::-moz-media-controls, video::-o-media-controls, video::-ms-media-controls {
		display: none !important; 
	} 
	video::-webkit-media-controls-start-playback-button {
		display: none !important;
	}
	#videocontainermobileid {
		display: none;
	}
	#videocontainerid {
		margin-top: -20px;
		display: block;
	}
	
	/* Style the video: 100% width and height to cover the entire window */
	#videocontainermobileid, #videocontainerid, #myVideo1, #myVideo2  {
		// // position: absolute;
		// //   right: 0;
		// //   top: 0;
		width: 100vw;
		// height: 100vh;
	}
	#myVideo1, #myVideo2  {
		opacity: 0.01;
	}

	/* Add some content at the bottom of the video/page */
	#videooverlayid {
		position: absolute;
		bottom: 0;
		background: rgb(0,0,0,0);
		background: linear-gradient(0deg, rgba(0,0,0,.5) 0%, rgba(0,0,0,0) 100%);
		color: #f1f1f1;
		width: 100%;
		padding: 40px;
	}

	/* Style the button used to pause/play the video */
	#myBtn {
		// width: 240px;
		font-size: 18px;
		padding: 10px 15px;
		border: none;
		background: #fff;
		color: #000;
		cursor: pointer;
		border-radius: 12px;
	}

	#myBtn:hover {
		background: #ddd;
		color: #000;
	}
	#myBtn:focus {
		background: #888;
		color: #000;
	}

	@media only screen and (max-width: 900px) {
		h1 {
			font-size: 48px;
			line-height: 40px;
		}
	}
	@media only screen and (max-width: 640px) {
		h1 {
			font-size: 44px;
			line-height: 44px;
		}
		p {
			// color: #fff;
			line-height: 28px;
			font-size: 24px;
			// font-weight: 300;
		}	
		.hero-container {
			text-shadow: 0px 0px 20px rgb(0,0,0,.75);
		}
		#videooverlayid {
			top: 100px;
			background: rgb(0,0,0,0);
			background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
			color: #f1f1f1;
		}
		#videocontainermobileid {
			display: block;
			margin-top: -150px;
		}
		#videocontainerid {
			display: none;
		}
	}
</style>
