---

---

<section>
  <div class="title-container">
    <h3>updates </h3><span>3</span>
  </div>
  <div class="job-post-container">
    <div class="job-post">
      <div class="tags">
        <span>press release</span>
        <span>announcement</span>
      </div>
      <a href="/manifesto">
        <h4 class="headline">
        Solving Society's Greatest Challenges
        </h4>
      </a>
    </div>
    <div class="job-post">
      <div class="tags">
        <span>job post</span>
        <span>full time</span>
        <span>denmark</span>
      </div>
      <a target="_blank" href="https://wellfound.com/jobs/2874577-senior-ai-engineer-full-time?utm_campaign=startup_share&utm_content=startup_share_module&utm_medium=social&utm_term=proemial">
        <h4 class="headline">
          Senior AI Engineer
        </h4>
      </a>
    </div>
    <div class="job-post">
      <div class="tags">
        <span>job post</span>
        <span>full time</span>
        <span>denmark</span>
      </div>
      <a target="_blank" href="https://wellfound.com/jobs/2874585-senior-product-designer?utm_campaign=startup_share&utm_content=startup_share_module&utm_medium=social&utm_term=proemial">
        <h4 class="headline">
          Senior Product Designer
        </h4>
      </a>
    </div>
  
  </div>
</section>
<style lang="scss">
	@import "../variables/global.scss";

  section{
    max-width:1200px;
    margin-left: auto;
    margin-right:auto;
    margin-top:164px;
    padding: 24px;
  }

  .job-post-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    color: $color-primary-text;
    gap:24px;
  }

  a{
    color: $color-primary-text;
    text-decoration: none;
  }

  a:hover{
    color: $color-primary-brand;
  }

  span{
    font-size: 12px;
    border: 1px solid #fff;
    padding: 6px 12px;
    border-radius: 8px;
    margin-right: 8px;
  }

  .job-post{
    padding: 24px;
    border-radius: 8px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid #fff;
    
  }

  .headline{
    font-weight: 300;
    font-size: 28px;
    margin: 0;
  }

  .title-container{
    display: flex;
    gap: 16px;
    align-items:flex-start;
    justify-content: center;
  }

  .title-container h3{
    font-size: 64px;
    font-weight: 300;
    margin: 0;
    margin-bottom: 48px;
  }

  @media only screen and (max-width: 900px) {

    section{
    margin-top:0px;
  }

    .job-post-container{
    grid-template-columns: 1fr;
  }

  .title-container h3{
    font-size: 48px;
  }

  .job-post{
    padding: 24px;
    border-radius: 8px;
    height: fit-content;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid #fff;
    gap: 48px;
    
  }


}




  
</style>
