---

---

<section>
  <div class="title-container">
    <h3>updates</h3>
    <!-- <span>3</span> -->
  </div>
  <div class="job-post-container">

    <a target="_blank" href="https://proem.ai/">
      <div class="job-post bg-[#7DFA86]">
      <div class="tags">
        <span class="text-black">announcement</span>
      </div>
        <h4 class="text-black headline">try proem now</h4>
      </div>
    </a>

    <a target="_blank" href="https://proemial.notion.site/Our-Manifesto-Solving-Society-s-Greatest-Challenges-7c4ef17e03254fd3be1af4d09371b18e">
      <div class="job-post bg-[#7DFA86]">
      <div class="tags">
        <span class="text-black">announcement</span>
      </div>
        <h4 class="text-black headline">manifesto</h4>
      </div>
    </a>

    <a target="_blank" href="https://proemial.notion.site/About-Us-29a34ab629f94162a3aeee2679f90fa1">
      <div class="job-post bg-[#7DFA86]">
      <div class="tags">
        <span class="text-black">announcement</span>
      </div>
        <h4 class="text-black headline">about proem</h4>
      </div>
    </a>

    <a href="https://proemial.notion.site/Careers-Jobs-adee0f9a00be49979039bd4345095b07">
      <div class="job-post">
        <div class="tags">
          <span>job post</span>
        </div>
          <h4 class="blk headline">we're hiring!<br>are you a gifted front-end developer?</h4>
        </div>
      </div> 
    </a>
</section>
<style lang="scss">
  @import "../variables/global.scss";

  section {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 96px;
    padding: 24px;
  }

  .job-post-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    color: $color-primary-text;
    gap: 24px;
  }

  a {
    color: $color-primary-text;
    text-decoration: none;
  }

  a:hover {
    color: #fff;
  }
  a:hover h4, a:focus h4,  {
    color: #fff;
    text-shadow: 0px 0px 6px #090;
  }
  a:hover h4.blk, a:focus h4.blk  {
    color: #0f0;
    text-shadow: 0px 0px 4px #fff;
  }

  span {
    font-size: 12px;
    border: 1px solid #fff;
    padding: 6px 12px;
    border-radius: 8px;
    margin-right: 8px;
  }

  .job-post {
    padding: 18px;
    border-radius: 8px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid #fff;
		cursor: pointer;
  }

  .headline {
    font-weight: 300;
    font-size: 24px;
    margin: 0;
  }

  .title-container {
    display: flex;
    gap: 16px;
    align-items: flex-start;
    justify-content: center;
  }

  .title-container h3 {
    font-size: 64px;
    font-weight: 300;
    margin: 0;
    margin-bottom: 48px;
  }

  @media only screen and (max-width: 900px) {
    section {
      margin-top: 0px;
    }

    .job-post-container {
      grid-template-columns: 1fr 1fr;
    }

    .title-container h3 {
      font-size: 48px;
    }

    .job-post {
      padding: 24px;
      border-radius: 8px;
      height: fit-content;
      min-height: 250px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      border: 1px solid #fff;
      gap: 48px;
    }
  }
  @media only screen and (max-width: 500px) {
    .job-post-container {
      grid-template-columns: 1fr;
    }
  }
</style>
