---
import { Image } from 'astro:assets';
import logo from '../assets/logo.gif';
import plus from '../assets/add-black.svg';
import plusBlack from '../assets/add-black.svg';

---


<nav>
  
  <div class="mobile-nav-button" id="nav-button">
    <img id="open-icon" class="white" src={plus.src}>
  </div>
  <div class="nav-list-container">
    <div id="name" class="name">proemial</div>
    <div id="list-container" class="list-container close">
      <ul>
        <li class="list-title">Products</li>
        <li>proem <span class="label">coming soon</span></li>
        <li>proem for GPT <span class="label">coming soon</span></li>
      </ul>
      <ul>
        <li class="list-title">company</li>
        <a href="#"><li>news</li></a>
        <!-- <li>About</li> -->
        <a href="#"></h><li>jobs <span class="label">2</span></li></a>
      </ul>
    </div>
  </div>
  <div class="logo">
    <img id="logo" class="white" src={logo.src}>
  </div>
</nav>

<style lang="scss">
	@import "../variables/global.scss";

  nav{
    display: flex;
    justify-content: space-between;
    color: $color-primary-text;
    padding: 32px;
    font-size: $text-size-small;
    font-weight:300;
    position: relative;
    z-index: 100;

  }


  a{
    color:#fff;
    text-decoration: none;
  }

  a:hover{
   color: $color-primary-brand;
  }



  a:hover span{
    border: 1px solid $color-primary-brand;
  }

  .name{
    font-size: $text-size-medium;
  }

  .nav-list-container{
    display: flex;
    gap: 4rem;
  }

  li{
    list-style-type: none;
  }

  ul{
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin: 0px;
    padding: 0px;
  }

  .list-container{
    display: flex;
    gap: 4rem;
  }

  .list-title{
    color: $color-secondary-text;
  }

  .label{
    font-size: $text-size-xtra-small;
    margin-left: 4px;
    padding: 4px 8px;
    border: 1px solid white;
    border-radius: $border-radius-standard;
    white-space: nowrap;
  }

  .full{
    background-color: $color-primary-brand;
    border:none;
    color: $color-inverted-text;
  }

  .mobile-nav-button{
    display: none;
  }

  .white{
      filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(79deg) brightness(107%) contrast(102%);
    }

  @media only screen and (max-width: 900px) {

   

    li{
      color: $color-inverted-text !important;
      font-size: 24px;
    }
    .close{
      transform: translateY(calc((-100vh) - 100px));
    }
    .open{
      transform: translateY(0);
    }

    .name{
      font-size: $text-size-medium-small;
    }

    .logo{
      z-index: 300;
    }

    .name{
      z-index: 300;
    }

    .logo img{
      max-width: 14px;
    }

    .list-container{
      left: 0px;
      position: absolute;
      display: flex;
      flex-direction:column;
      align-items: flex-start;
      height: 100vh;
      background-color: $color-primary-brand;
      z-index: 210;
      top:-1px;
      padding: 64px 16px;
      transition: all ease 0.4s;
      width: 100vw;
    }

    .label{
      border: 1px solid black;
    }

  
  

    nav{
      padding: 16px;
    }

    .rotate{
      transform: rotate(45deg);
    }

    .mobile-nav-button{
      display: flex;
      align-items: center;
      justify-content: center;
      position:absolute;
      top: -5px;
      width: 48px;
      padding: 24px;
      margin-left: auto;
      margin-right: auto;
      left: 0;
      right: 0;
      z-index: 300;
      transition: all ease 0.25s;
    }

    .mobile-nav-button img{
      width: 20px;
    }
  }
</style>

<script>
  const navButton = document.getElementById("nav-button");
  const navBar = document.getElementById("list-container");
  const name = document.getElementById("name");
  const icon = document.getElementById("open-icon")
  const logo = document.getElementById("logo")
  let navIsOpen = true;

  navButton.addEventListener("click", navToggle);

  function navToggle(){

    if(navIsOpen){
      console.log(navIsOpen);
      navBar.classList.remove("close")
      navBar.classList.add("open")
      icon.classList.add("rotate")  
      name.style.color = "black"
      icon.classList.remove("white");
      logo.classList.remove("white");
      navIsOpen = false;
    }
    else{
      console.log(navIsOpen);
      navBar.classList.remove("open")
      navBar.classList.add("close")
      icon.classList.remove("rotate")
      icon.classList.add("white");
      logo.classList.add("white");
      name.style.color = "white"
      navIsOpen = true;
    }

  }
</script>