---
import { Image } from 'astro:assets';
import logo from '../assets/proemial-logo.svg';

---


<nav>
  <div class="nav-list-container">
  <div class="name">Proemial</div>


  <div class="list-container">
  <ul>
    <li class="list-title">Products</li>
    <li>Proem <span class="label">coming soon</span></li>
    <li>Proem for GPT <span class="label">coming soon</span></li>
  </ul>

  <ul>
    <li class="list-title">Company</li>
    <a href="#"><li>News</li></a>
    <!-- <li>About</li> -->
    <a href="#"></h><li>Jobs <span class="label">2</span></li></a>
  </ul>
</div>
</div>

  <div class="logo">
    <img src={logo.src}>
  </div>
</nav>

<style lang="scss">
	@import "../variables/global.scss";

  nav{
    display: flex;
    justify-content: space-between;
    color: $color-primary-text;
    padding: 32px;
    font-size: $text-size-small;
    font-weight:300;
    position: relative;
    z-index: 100;
  }

  a{
    color:#fff;
    text-decoration: none;
  }

  a:hover{
   color: $color-primary-brand;
  }

  a:hover span{
    border: 1px solid $color-primary-brand;
  }

  .name{
    font-size: $text-size-medium;
  }

  .nav-list-container{
    display: flex;
    gap: 4rem;
  }

  li{
    list-style-type: none;
  }

  ul{
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin: 0px;
    padding: 0px;
  }

  .list-container{
    display: flex;
    gap: 4rem;
  }

  .list-title{
    color: $color-secondary-text;
  }

  .label{
    font-size: $text-size-xtra-small;
    margin-left: 4px;
    padding: 4px 8px;
    border: 1px solid white;
    border-radius: $border-radius-standard;
    white-space: nowrap;
  }

  .full{
    background-color: $color-primary-brand;
    border:none;
    color: $color-inverted-text;
  }

  @media only screen and (max-width: 900px) {
  
    .list-container{
      display: none;
    }

    .name{
      font-size: $text-size-medium-small;
    }

    .logo img{
      max-width: 14px;
    }

    .nav-list-container{
      align-items: center;
    }
  

    nav{
      padding: 16px;
    }
  }



</style>
