---
import HeroSection from "./HeroSection.astro";
import Logostorm from "./Logostorm.astro";
---

<div>
 <HeroSection></HeroSection>
 <Logostorm></Logostorm>
</div>
<style lang="scss">
	@import "../variables/global.scss";

  div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    width: 100%;

  }
  
</style>
